#!/usr/bin/env bash

# # Automatically sets up your devbox environment whenever you cd into this
# # directory via our direnv integration:

# eval "$(devbox generate direnv --print-envrc)"

# # check out https://www.jetify.com/docs/devbox/ide_configuration/direnv/
# # for more details


eval "$(devenv direnvrc)"

# You can pass flags to the devenv command
# For example: use devenv --impure --option services.postgres.enable:bool true
use devenv
